@model IEnumerable<ENTIDADES.ENT_Banco>

@{
    ViewBag.Title = "Listado";
}

<h2>Listado</h2>

<p>
    @Html.ActionLink("Crear", "Registro")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Banco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion_Banco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Registro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Banco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion_Banco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Registro)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id = item.Id_Banco }) |
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id_Banco })
        </td>
    </tr>
}

</table>
