@model ENTIDADES.ENT_Sucursal

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" ng-app="appSucursalUp" ng-controller="ctrSucursalUp as ctrl">
        <h4>Sucursal</h4>
        <hr />

        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Id_Sucursal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre_Banco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre_Sucursal, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Direccion_Sucursal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Direccion_Sucursal, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                Banco
            </div>
            <div class="col-md-10">
                <select id="Id_Banco">
                    @for (int i = 0; i < Model.Lst_Bancos.Count; i++)
                    {
                        if (Model.Lst_Bancos[i].Id_Banco == Model.Id_Banco)
                        {
                            <option value="@Model.Lst_Bancos[i].Id_Banco" selected>@Model.Lst_Bancos[i].Nombre_Banco</option>
                        }
                        else
                        {
                            <option value="@Model.Lst_Bancos[i].Id_Banco">@Model.Lst_Bancos[i].Nombre_Banco</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input value="Update" class="btn btn-default" ng-click="ctrl.Actualizar()" />
            </div>
        </div>


    </div>
}

<div>
    @Html.ActionLink("Listado", "Listado")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/angular1.5.js"></script>

<script type="text/javascript">

    angular
        .module('appSucursalUp', [])
        .controller('ctrSucursalUp', ['$http', function ($http) {
            //
            var ctrl = this;

            ctrl.Grabar = {
                Id_Sucursal: 0,
                Nombre_Sucursal: "",
                Direccion_Sucursal: "",
                Id_Banco: 0
            };

            ctrl.Actualizar = function () {
                //
                ctrl.Grabar.Id_Sucursal = $("#Id_Sucursal").val();
                ctrl.Grabar.Nombre_Sucursal = $("#Nombre_Sucursal").val();
                ctrl.Grabar.Direccion_Sucursal = $("#Direccion_Sucursal").val();
                ctrl.Grabar.Id_Banco = $("#Id_Banco").val();

                var Actualizar_Sucursal = '@Url.Action("Actualizar", "Sucursal")';
                $http.post(Actualizar_Sucursal, ctrl.Grabar).then(function (resultado) {
                    //
                    var s_CODIGO = resultado.data.CODIGO;
                    if (s_CODIGO == 0) {
                        alert("Se actualizo correctamente!!!");
                        location.href = "/Sucursal/Listado";
                    }
                    else {
                        alert("Ocurrio un error!!!");
                    }
                });
            };
        }]);

</script>
